<div class="dashboard-container">
  <div class="dashboard-wall">
    <section class="thankyou-main col-md-8">
      <div class="thankyou-note">
        <p>Thank you for your time.</p>
        <p>Please wait for the HR member to respond you back.</p>
      </div>
      </p>
    </section>
  </div>
</div>