body{
    background: #1e88e5;
    font-family: 'Ubuntu', sans-serif;
}
a{
    text-decoration: none;
}
/* Login + Forgot Password + Change Password */
.form-signin
{
    max-width: 390px;
    padding: 0;
    margin: 5px;;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox input[type=checkbox], input[type=radio]{
    margin: 2px 0 0 -20px;
}
.form-signin .checkbox
{
    font-weight: normal;
    margin: 15px 20px;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 15px 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall{
    padding: 7px;
    margin: 32% 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.account-wall header{
    background:#337ab7; 
    padding: 25px 0;
}
.account-wall h1{
    margin:20px 0 0 0;
}
.login-title
{
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 12px auto 0;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: url('image/logo.png');
    width: 150px;
    height: 200px;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
.forgot-password{
    margin: 15px 10px;
    float: right;
}
.form-signin a{
    text-decoration: none;
}
/* Login End */


/* Dashboard */
.dashboard-container{
    margin: 0;
    padding: 0;
}
.welcome-note{
    font-size: 22px !important;
    border: none !important;
    box-shadow: none !important;
    padding: 5% 0px !important;
}
.dashboard-wall header,.dashboard-wall footer{
    background: #fff;
    padding: 15px 30px;
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2;
}
.dashboard-wall footer{
    position: absolute;
    bottom: 0;
}
.dashboard-wall header h1{
    display: inline-block;
}
.profile-img{
    margin: 0px;
    display: block;
    border-radius: 0;
    background: url('/assets/logo.png');
    width: 164px;
    height: 51px;
    background-size: 95%;
    background-repeat: no-repeat;
    border: none;
}
.logout-img{
    display: block;
    border-radius: 0;
    background: url('/assets/logout.png');
    width: 33px;
    height: 36px;
    background-size: 96%;
    background-repeat: no-repeat;
    border: none;
    margin: 10px 0%;
}
.dashboard-wall header .logout-img{

}
.dashboard-wall .container-fluid{
    padding: 0;
}
.dashboard-wall .navbar{
    border:none;

}
.navbar-default .navbar-nav>li>a{
    font-size: 17px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background: #1e88e5;
    color: #fff;
}
.navbar-default .navbar-nav>li.active > a:hover{
   background: #1e88e5;
    color: #fff;
}

.dashboard, .candidate, .reports, .que-n-ans{
    min-height: 450px;
    margin: auto;
    float: none;
    margin: auto;
    background: #fff;
    padding: 0;
    width: 97%;
    display: none;
}
.candidate{
    min-height: 462px;
}
.activate{
    display: block;
}
.activate h2{
    padding: 18px 10px;
    font-size: 16px;
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

/* Dashboard Sections*/
.candidate-list{
    margin: 15px 0;
}
.candidate-selection{
    margin-top: 5% !important;
}
.candidate-selection:last-child{
    margin-left: 25% !important;
    margin-top: 5% !important;
}
/* table*/

.left-panel h2, .right-panel h2{
    background: #1e88e5;
    color: #fff;
    font-size: 16px;
    text-align: center;
}

table.scroll thead,
table.scroll tbody{ display:block; }

table.scroll tbody {
    height: 270px;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody td {
     width: 19%;
}
thead th{
    width: 164px;
}

tbody td:last-child, thead th:last-child {
    border-right: none;
}
.table>thead>tr>th{
    border:none;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    text-align: center;
}

/*.question-tabulate-view .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    text-align: left;
}*/
/**************/
 .right-panel .btn{
    margin: 24% 0% 0% 0;

 }
 .right-panel .send-invite{
    margin: 5% 0% 5% 0;
 }
 .display-block{
    display: block !important;
 }
.display-none{
    display: none;
 }
 .new-candidate-registration{
    margin: 15px 0;
 }
.new-candidate-registration .form-group{
    margin: 26px 0;
 }

 .exiting-email-input{
    margin: 7% 0;
    padding: 0;
 }
 .exiting-email-input .input-group-addon{
    background: none;
    border: none;
    font-size: 18px;
    float: left;
 }
 .existing-user{
    width: 90% !important;
 }
 a.input-group-addon{
    text-decoration: none;
 }
.question-view{
    margin: 0% 5%;
    min-height: 311px;
    padding: 1%;
    overflow: auto;
}
.tech-drop-box{
    display: block;
    margin:20px auto;
    float: none;
}
.question-scroll thead{
    font-weight: bold;
}

.report-section{
    padding: 15px 0;
    overflow: hidden;
}

.report-panel-value{
    width: 50%;
    float: left;
    padding: 20px 0 30px 0;

}
.report-panel-value label{
    padding: 0;
    width: 40%;
    float: left;
    font-size: 14px;
}
.report-panel-value label:first-child{
    font-weight: 700;
    color: #555;
}
.report-panel-value label:last-child{
    margin-right: 30px;
}
.technology-filter{
    margin: 0;
}
.report-filter label{
    margin-bottom:10px;
    margin-top:10px;
}
.filter-block{
    margin-top:25%;
    margin-bottom:20px;
}
.filter-block-search{
    margin-top:30px;
}
/*Dashboard*/
.cuehunt-description{
    padding: 0% 1%;
    font-size: 18px;
    color: #555;
    margin: auto 0;
    float: left;
    border-right: 1px solid #000;
    margin: 3%;
    line-height: 29px;
}
.ui-jqrangeslider{
    display: none !important
}
.report-graph{
    margin:2% 0% 0% -6%;
}

footer{
    padding: 15px;
    background: #fff;
    left: 0;
    right: 0;
    text-align: center;
    color: #1e88e5;
    font-size: 13px;
    margin-top: 21px;
    position: relative;
    bottom:-9px;
}
footer .copyright{
     text-decoration: none;
    cursor: default;
}
.back-invite, .send-invite {
    width: 45% !important;
    float: left;
    margin:3% 2% 2% 3% !important;
}
.online-users{
    background: green;
    border-radius: 50%;
    padding: 0px 9px;
    margin-right: 10px;
}