<!--<div style="margin-top: 50px">-->
  <!--Welcome to dashboard-->
  <!--<%= link_to 'Sign Out', destroy_user_session_path ,method: 'delete' %>-->
  <!--<%= link_to 'Invite Candidate', invite_candidate_path  %>-->
  <!--<%= link_to 'Online Candidates', online_candidates_path  %>-->
  <!--<%= link_to 'Reports', online_candidates_path  %>-->
<!--</div>-->

<section class="dashboard activate">
  <h2>Welcome Dashboard</h2>
  <div class="col-md-6 cuehunt-description">
    <label class="welcome-note">Welcome</label>
    <p>CueHunt is a portal which  simplifies and optimizes your hiring process.</p>
    <br/>
    <p>It overcomes the challenge of selecting the best candidate. Its seemless technical tests process helps the interviewer to understand the candidates skills and knowledge.</p>
    <br/>
    <p>Truely web based application which is more effecient than email and spreadsheets, giving a relief to recuritment team for selection process.</p>
  </div>

  <div class="col-md-5 report-graph">
    <div id="jqChart" style="width: 600px; height: 320px;"></div>
  </div>

</section>